/** @format */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600&display=swap");

:root {
  --bp-largest: 75em; /* 1200px */
  --bp-large: 68.75em; /*  1100px */
  --bp-medium: 56.25em; /*  900px */
  --bp-small: 37.5em; /*  600px */
  --bp-smallest: 31.25em; /*  500px*/
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
  position: relative;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(89, 86, 131);
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0px;
  padding: 0 30px;
  transition: 0.5s;
  opacity: 0;
  z-index: 30;
}

.navbar.top {
  background: transparent;
}

.navbar a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
}

nav a:hover {
  border-bottom: rgba(252, 189, 46, 1) 2px solid;
}

.navbar ul {
  display: flex;
}

.navbar .logo {
  font-weight: 400;
  color: rgba(252, 189, 46, 1);
}

.navbar li {
  font-size: 12px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

/* Header */
.hero {
  background-image: linear-gradient(
      107.37deg,
      rgba(103, 103, 156, 0.94) 48.97%,
      rgba(103, 103, 156, 0.76) 99.22%
    ),
    url("../images/home/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 90%;
  background-blend-mode: normal, luminosity;
  mix-blend-mode: normal;
  height: 100vh;
  width: 100%;
  position: relative;
  color: #fff;
}

.hero .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
  height: 100%;
  padding: 0 20px;
}

.arrow {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  top: 90%;
}
.welcome {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.welcome .header {
  display: block;
  position: absolute;
  transform: translateX(-50%);
  margin-top: 4rem;
  left: 50%;
  top: 0;
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 200;
  font-size: 2rem;
}

.welcome .content {
  margin-top: 200px;
}

.welcome .content .btn {
  position: relative;
  z-index: 2;
}
.welcome .sub-text {
  font-family: Nunito, Helvetica, sans-serif;
  font-weight: 400;
  margin-top: 40px;
  z-index: 20;
  text-align: center;
  margin-bottom: 4%;
}

.welcome .section-1 {
  font-family: Nunito, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: left;
}

.welcome .sub-text {
  font-size: 1rem;
}

.btn-flex-container {
  width: 500px;
  margin-top: 40px;
}

.line {
  padding: 6px 0;
  width: 100px;
  border-bottom: 8px solid rgba(120, 118, 224, 1);
  position: absolute;
}
.wave-top {
  position: absolute;
  transform: rotateY(180deg);
  margin-top: -10px;
  width: 100%;
}

.wave-bottom {
  width: 100%;
  transform: rotateX(180deg);
  position: absolute;
  bottom: 0px;
}

#goal-animation-container {
  max-width: 400px;
  opacity: 0;
  transform: translateX(-100px);
}

.overlay {
  z-index: 10;
  display: inline;
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #fff;
  top: 0%;
}

.overlay h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 12px;
  color: rgba(103, 103, 156, 0.94);
  letter-spacing: 20px;
}

.hero .content h1 {
  font-size: 2rem;
}

.ml-150 {
  margin-left: 150px;
}

.questions {
  font-size: 2rem;
  font-family: "Raleway", Helvetica, sans-serif;
  font-weight: 400;
}

.questions p {
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 100;
  line-height: 0.4em;
}

.content .questions h1 {
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.hero .content div .btn {
  margin-left: 16rem;
}

.slogen {
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  font-size: 3rem;
  line-height: 40px;
}

.slogen p:last-of-type {
  font-weight: 200;
  font-size: 1.5rem;
}

.slogen .highlighted-primary {
  font-weight: 600;

  color: rgba(252, 189, 46, 1);
}
.hero .content {
  opacity: 0;
}
.hero .content p {
  max-width: 600px;
  margin: 20px 0 30px;
}

.hero.blog {
  background: url("../images/home/blog.jpg") no-repeat center center/cover;
  height: 30vh;
}

/* Icons */
.icons {
  padding: 30px;
}

.icons h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

.icons i {
  background-color: #28a745;
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 15px;
}

.navbar a.icon {
  cursor: pointer;
  height: 50px;
  width: 50px;
  padding: 0;
  margin: 0;
}

.cases img:hover {
  opacity: 0.7;
}

.team img {
  border-radius: 50%;
}

/* Callback form */
.callback-form {
  width: 100%;
  padding: 20px 0;
}

.callback-form label {
  display: block;
  margin-bottom: 5px;
}

.callback-form .form-control {
  margin-bottom: 15px;
}

.callback-form input {
  width: 100%;
  padding: 4px;
  height: 40px;
  border: #f5f5f5 1px solid;
}

.callback-form input:focus {
  outline-color: #28a745;
}

.callback-form .btn {
  padding: 12px 0;
  margin-top: 20px;
}

/* Post */
.post {
  padding: 50px 30px;
}

.post h2 {
  font-size: 40px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: #ccc solid 1px;
}

.post .meta {
  margin-bottom: 30px;
}

.post img {
  width: 300px;
  border-radius: 50%;
  display: block;
  margin: 0 auto 30px;
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  color: #28a745;
}

.footer .social > * {
  margin-right: 30px;
}

/* Mobile */

@media only screen and (max-width: 1250px) {
  .hero {
    background-position: 80% 100%;
  }
  .questions {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 80px;
    margin-bottom: 0;
  }

  .ml-150 {
    margin-left: 50px;
  }

  .questions p {
    font-size: 0.8rem;
    font-weight: 100;
    line-height: 0.4em;
  }
  .content .questions h1 {
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  .hero .content div .btn {
    margin-top: 1rem;
    margin-left: 7rem;
  }

  .slogen {
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    font-size: 1.5rem;
    line-height: 10px;
  }

  .slogen p:last-of-type {
    font-weight: 200;
    font-size: 1rem;
  }

  .slogen .highlighted-primary {
    font-weight: 600;

    color: rgba(252, 189, 46, 1);
  }
}

@media only screen and (max-width: 1200px) {
  .navbar {
    background-color: rgb(89, 86, 131);
    opacity: 1;
    padding: 0;
  }

  .navbar.top {
    background-color: rgb(89, 86, 131);
  }
  .nav-menu {
    position: fixed;
    right: -100%;
    opacity: 0;
    top: 4rem;
    flex-direction: column;
    background-color: rgb(89, 86, 131);
    display: flex;
    width: 100%;
    text-align: center;
    transition: 0.3s ease-in-out all;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    opacity: 1;
    right: 0;
  }

  .nav-item {
    margin: 1.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media only screen and (max-width: 1000px) {
  .p-x-150 {
    padding: 0 50px;
  }

  .hero .content div .btn {
    margin-left: 0;
  }
  .welcome .header {
    font-size: 1.5rem;
  }
  .welcome .section-1 {
    font-size: 0.8rem;
  }

  .flex-items {
    column-gap: 0px;
  }

  .btn-flex-container {
    max-width: 500px;
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .line {
    padding: 3px 0;
    width: 50px;
    border-bottom: 4px solid rgba(120, 118, 224, 1);
    position: absolute;
  }
  .welcome .header {
    font-size: 1rem;
  }

  .flex-items > div {
    max-width: unset;
    padding: 10px;
  }

  .welcome .sub-text {
    margin-top: unset;
    z-index: 2;

    position: relative;
  }
  #goal-animation-container {
    max-width: 300px;
    padding: 0;
  }
  .navbar a {
    padding: 10px 10px;
    margin: 0 3px;
  }

  .flex-items {
    flex-direction: column;
    align-items: center;
  }

  .flex-columns .column,
  .flex-grid .column {
    flex: 100%;
    max-width: 100%;
  }

  .team img {
    width: 70%;
  }

  .p-x-150 {
    padding: 0 20px;
  }

  .navbar {
    flex-direction: row;
  }
  .welcome .content .flex-items:last-of-type {
    flex-direction: row;
  }
}

@media only screen and (max-width: 700px) {
  .welcome .header {
    font-size: 1rem;
    display: inline-block;
    text-align: center;
    position: relative;
  }

  .welcome .header h1 {
    display: inline-block;
  }

  .welcome .header .line {
    position: absolute;
    left: 0px;
  }
  .welcome .content {
    margin-top: 80px;
  }
  .glass-box {
    margin: 0;
    font-size: 1rem;
    padding: 10px;
  }

  .welcome .section-1 {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
}

@media only screen and (max-width: 500px) {
  .glass-box {
    margin: 0;
    font-size: 1rem;
    padding: 10px;
  }

  .welcome .content {
    margin-top: 80px;
    margin: 30px 10px;
  }

  .welcome .section-1 {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }

  .welcome .sub-text {
    font-size: 0.8rem;
    font-weight: bold;
  }
}

@media only screen and (max-width: 400px) {
  .hero .content {
    padding: 0;
  }

  #goal-animation-container {
    max-width: 200px;
  }
}
